# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Env vars
.env
.env.*

# Logs
*.log

# Caches
.pytest_cache/
.mypy_cache/
.cache/

# Packaging
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/

# DB
*.db

# Temp
*.tmp
*.swp

# =========================
# FastAPI project
# =========================
uploads/

# =========================
# React / Vite
# =========================
node_modules/
dist/
.vite/
*.local

# Vite cache
node_modules/.vite/

# =========================
# OS / IDE
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Misc
# =========================
*.zip
*.tar
*.gz